#truth-tree {
    width: 800px;
    height: 800px;
    border: 1px solid lightgray;
    --statement-text-colour: #343434;
    --statement-text-size: 16;
    --statement-text-face: arial;
    --branch-close-icon-face: Ionicons;
    --branch-close-icon-code: f2c0;
    --branch-close-icon-size: 20;
    --branch-close-icon-colour: black;
    --edge-colour: black;
    --linenumber-text-face: arial;
    --linenumber-text-size: 16px;
    --linenumber-text-colour: #343434;
    --derivedfrom-text-face: arial;
    --derivedfrom-text-size: 16px;
    --derivedfrom-text-colour: #343434;
    --level-separation: 22;
    --node-spacing: 50;
    --checkmark-size: 16;
    --checkmark-face: Ionicons;
    --checkmark-icon-code: f2bc;
}